<AuthInfo>

  <!--
      Select just one of the following below to specify your OAuth
      token, private or personal token, or HTTP basic authentication.
  -->

  <!--
      <oauth-token></oauth-token>
  -->

  <!--
      <private-token></private-token>
  -->

  <!--
      <username></username>
      <password></password>
  -->

</AuthInfo>
